h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.home{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 10vw;
}

/*----- Landing Section -----*/



section.homePageContainer.top{
    height: 100vh;
    width: 100%;
    position: relative;
}
.homePageContentBG{
    position: absolute;
    top: -2%;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homePageContentBG video{
    /* height: 100vh; */
    width: 100vw;
}
.homePageContent.top1{
    height: 100%;
    width: 100%;
    padding: 4vw 7%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: 
        linear-gradient(black -50%, transparent),
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/texeractAllBG.png') no-repeat center;
    background-size: cover;
}
.homePCTop1{
    height: auto;
    width: 100%;
    /* position: relative; */
}
.homePCTop1 img{
    height: 20vw;
    display: flex;
    margin: 0 auto;
    animation: fade-in-down 3s ease;
}
.homePCTop1 h5{
    font-size: 1.5vw;
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    animation: fade-in-down2 3s ease;
}
.homePCTop1 p{
    font-size: 0.6vw;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    animation: fade-in-down2 3s ease;
}
.homepct1Btns{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    animation: fade-in-down2 3s ease;
}
.homepct1Btns a{
    padding: 10px 3%;
    text-decoration: none;
    color: white;
    font-size: 0.7vw;
    border: solid 2px white;
    margin: 0 0.5%;
    border-radius: 50px;
    font-family: 'Lexend Peta', sans-serif;
    transition: 400ms ease;
}
.homepct1Btns a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px white;
    transition: 400ms ease;
}
.homepct1LearnContainer{
    height: 100%;
    width: 35vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: end;
    padding-left: 7%;
    padding-bottom: 4%;
}


.homepct1Learn{
    height: 80vh;
    width: 20vw;
    border-radius: 1vw;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgb(55, 55, 55);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 3%;
    z-index: 2;
    opacity: 0;
    transition: 400ms ease;
    margin-left: -20vw;
}
.homepct1Learn.active{
    opacity: 1;
    margin-left: 0;
    transform: translate(0);
    transition: 400ms ease;
}
.homepct1Learn h5{
    font-size: 0.8vw;
    margin: 5% 0;
    font-weight: 400;
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
}
.hmpct1lSearch{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    border: solid 2px gray;
    border-radius: 50px;
}
.hmpct1lSearch h6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hmpct1lSearch input{
    height: auto;
    width: 91%;
    background: none;
    border: none;
    outline: none;
    font-size: 0.7vw;
    color: white;
}
.hmpct1lContainer{
    height: 85%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 1%;
    padding-right: 3%;
    margin-top: 5%;
}
.hmpct1lContents{
    height: auto;
    width: 100%;
    margin-bottom: 3%;
    padding: 4% 5%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgb(55, 55, 55);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 0.5vw;
    transition: 400ms ease;
}
.homepct1Learn.active .hmpct1lContents{
    cursor: pointer;
}
.hmpct1lContents.active{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px rgb(55, 55, 55);
}
.hmpct1lContents.active h6,
.hmpct1lContents.active p{
    color: black;
    transition: 400ms ease;
}
.hmpct1lContents:hover{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px rgb(55, 55, 55);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: 400ms ease;
}
.hmpct1lContents:hover h6,
.hmpct1lContents:hover p{
    color: black;
    transition: 400ms ease;
}
.hmpct1lContents h6{
    font-size: 0.8vw;
    font-weight: 400;
}
.hmpct1lContents p{
    font-size: 0.6vw;
    margin-top: 3%;
    color: lightgray;
}
.homepct1LearnContainer button{
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 2% 3%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.homepct1LearnContainer button.active{
    display: none;
}



.homepct1ShortDescription{
    height: 10vw;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 7%;
    padding-bottom: 4%;
}
.homepct1ShortDescription hr{
    height: 100%;
    margin-left: 5%;
}
.homepct1ShortDescription h6{
    font-size: 0.9vw;
    line-height: 0.9vw;
    font-family: 'Lexend Peta', sans-serif;
    text-align: right;
}
.homepct1ShortDescription h6 span{
    font-size: 0.7vw;
    font-weight: 400;
}








section.homePageContainer.mid1{
    height: auto;
    width: 100%;
    padding: 5% 10%;
}
.homePageContent.mid1{
    height: auto;
    width: 100%;
}
.homePageContent.mid1 p{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    color: gray;
}
.hmpcm1Contents{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.hmpcm1Contents img{
    height: 2vw;
    filter: grayscale(100%);
    margin: 2% 4%;
    transition: 400ms ease;
    cursor: pointer;
    opacity: 50%;
}
.hmpcm1Contents img:hover{
    filter: grayscale(0);
    opacity: 100%;
    transition: 400ms ease;
    cursor: pointer;
}










section.homePageContainer.mid234{
    height: auto;
    width: 100%;
    padding: 5% 7%;
    background: 
        linear-gradient(black 0%, transparent),
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/ExtraBG03.jpg') no-repeat center;
    background-size: cover;
}
.homePageContent.mid2{
    height: 25vw;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: 
        linear-gradient(black 15%, transparent),
        url('../assets/imgs/ExtraBG02.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 20px black;
    border-radius: 1vw;
    padding: 3% 5%;
    margin-bottom: 7%;
}
.hpcm2Contents.left{
    height: auto;
    width: 45%;
}
.hpcm2Contents.left h4{
    font-size: 2.2vw;
    line-height: 2.3vw;
    font-family: 'Lexend Peta', sans-serif;
}
.hpcm2Contents.left h6{
    font-size: 0.8vw;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 600;
    margin: 3% 0;
}
.hpcm2Contents.left p{
    font-size: 0.7vw;
}
.hpcm2Contents.right{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hpcm2Contents.right img{
    height: 35vw;
    animation: bounce2 3s infinite;
}



.homePageContent.mid3{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    margin-bottom: 7%;
}
.hpcm3Contents.left{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hpcm3cl{
    height: 13vw;
    width: 47%;
    border-radius: 0.5vw;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background: rgba(20, 20, 20, 0.2);
    box-shadow: 0 0 15px rgb(40, 40, 40);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    padding: 3%;
}
.hpcm3cl span{
    position: absolute;
    top: 15%;
    left: 0;
    background: royalblue;
    padding: 2% 3%;
    padding-right: 7%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 3;
}
.hpcm3cl span p{
    font-size: 0.7vw;
}
.hpcm3cl img{
    height: 15vw;
    position: absolute;
    top: -40%;
    right: -15%;
    z-index: 2;
}
.hpcm3cl img#hpcm3clMint{
    height: 10vw;
    top: -25%;
    right: -10%;
}
.hpcm3cl div{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6%;
    padding-bottom: 8%;
    z-index: 3;
}
.hpcm3cl div a{
    text-decoration: none;
}
.hpcm3cl div h5{
    font-size: 0.8vw;
    font-family: 'Lexend Peta', sans-serif;
    margin-bottom: 5%;
}
.hpcm3cl div p{
    font-size: 0.6vw;
}



.hpcm3Contents.right{
    height: auto;
    width: 45%;
}
.hpcm3Contents.right h6{
    font-size: 1.2vw;
    font-family: 'Lexend Peta', sans-serif;
}
.hpcm3Contents.right p{
    font-size: 0.6vw;
    margin-top: 3%;
    margin-bottom: 5%;
}
.hpcm3Contents.right a{
    padding: 10px 5%;
    text-decoration: none;
    color: white;
    font-size: 0.7vw;
    border: solid 2px white;
    border-radius: 50px;
    font-family: 'Lexend Peta', sans-serif;
    transition: 400ms ease;
    opacity: 50%;
    margin-right: 2%;
}






.homePageContent.mid4{
    height: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background: 
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/ExtraBG02.jpg') no-repeat top center;
    background-size: cover;
    box-shadow: 0 0 20px black;
    border-radius: 1vw;
    padding: 3% 5%;
}
.hpcm4Contents.left{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hpcm4Contents.left img{
    height: 25vw;
}
.hpcm4Contents.right{
    height: auto;
    width: 45%;
}
.hpcm4Contents.right h4{
    font-size: 2.2vw;
    line-height: 2.3vw;
    font-family: 'Lexend Peta', sans-serif;
}
.hpcm4Contents.right h6{
    font-size: 0.8vw;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 600;
    margin: 3% 0;
}
.hpcm4Contents.right p{
    font-size: 0.7vw;
}







section.homePageContainer.mid5{
    height: auto;
    width: 100%;
    padding: 7%;
}
.homePageContent.mid5{
    height: auto;
    width: 100%;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
}
.homePageContent.mid5 span{
    text-align: center;
    width: 25%;
}
.homePageContent.mid5 h4{
    font-size: 3vw;
    line-height: 2.5vw;
    margin-bottom: 5%;
}
.homePageContent.mid5 p{
    font-size: 0.7vw;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 400;
}







section.homePageContainer.mid6{
    height: auto;
    width: 100%;
    padding: 3% 7%;
}
.homePageContent.mid6{
    height: auto;
    width: 100%;
    padding: 0 5%;
    text-align: center;
}
.homePageContent.mid6 img{
    height: 5vw;
}
.homePageContent.mid6 h5{
    font-size: 1.2vw;
    font-family: 'Lexend Peta', sans-serif;
    margin: 1% 0;
}
.homePageContent.mid6 p{
    font-size: 0.7vw;
}














@keyframes roll-in-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes roll-in-right2 {
    0% {
      opacity: 0.5;
      transform: translateX(-10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
}
@keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes fade-in-down2 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
	}
	100% {
		transform: perspective(400px) rotateY(360deg);
	}
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes b2 {
    100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}
@keyframes l1 {
    0% {background-position: right}
}
@keyframes l2 {
    to{transform: rotate(.5turn)}
}
@keyframes spinner113{ 
    100%{transform: rotate(1turn)}
}
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}