@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400;500;600;700;800;900&display=swap');


/* font-family: "Montserrat", sans-serif;*/
h6{
    font-family: "Montserrat", sans-serif;
}

nav{
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 997;
}
.mainNavContainer{
    height: auto;
    width: 100%;
    position: relative;
}


.navContainerFull{
    height: auto;
    width: 92%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin-top: 3.5vw;
    border-radius: 1.5vw;
    border-top-right-radius: 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    animation: fade-out 2s ease;
    transition: 400ms ease;
}
.navContainerFull.active{
    animation: fade-in-down2 2s ease;
}
.navcContentf.left{
    height: 20vw;
    width: 30%;
    box-shadow: 0 0 20px gray;
    border-radius: 1vw;
    background: url('../assets/imgs/ExtraBG01.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 1% 2%;
}
.navccflImage{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navccflImage img{
    height: 15vw;
}
.navcContentf.left h5{
    font-weight: 600;
    font-size: 1.2vw;
    font-family: 'Lexend Peta', sans-serif;
}
.navccflPhase{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navccflPhase div img{
    height: 3vw;
}
.navccflPhase div p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}

.navcContentf.right{
    height: auto;
    width: 68%;
    padding: 2% 0;
}
.navccfrSoon{
    height: auto;
    width: 100%;
    background: red;
    padding: 2%;
    text-align: center;
    border-radius: 1vw;
}
.navccfrSelections{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.navccfrs{
    height: auto;
    width: 30%;
}












.navContainer{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.navContainer.mobile{
    display: none;
}

/* Website */

.navContent.left{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navContent.left a{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}
.navContent.left a img{
    height: 3vw;
}
.navContent.right{
    height: auto;
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
}


.navContent.right a.navCrBtn.marketplace{
    margin-right: 7%;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 50%;
}
.navContent.right a.navCrBtn.marketplace p{
    font-size: 0.6vw;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
}




.navContent.right button.navCrBtn{
    font-size: 0.7vw;
    padding: 9px 3%;
    border: solid 2px white;
    box-shadow: 0 0 10px gray;
    border-radius: 50px;
    background: white;
    color: black;
    margin-left: 1.5%;
    transition: 400ms ease;
    cursor: pointer;
}
.navContent.right button.navCrBtn:hover{
    background: black;
    transition: 400ms ease;
}
.navContent.right button.active{
    background: black;
    border: solid 2px black;
}
.navContent.right button.navCrBtn.active p{
    color: white;
    font-family: 'Lexend Peta', sans-serif;
}
.navContent.right button.navCrBtn p{
    color: white;
    font-size: 0.6vw;
    font-weight: 400;
    width: 7.5vw;
    font-family: 'Lexend Peta', sans-serif;
}
.navContent.right button.navCrBtn:hover p{
    color: black;
    transition: 400ms ease;
}
.navContent.right button.navCrBtn.connect{
    padding: 2.3px;
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
}
.navContent.right button.navCrBtn.connect:hover{
    background: white;
    transition: 400ms ease;
}
.navContent.right button.navCrBtn.connect .faIcons{
    border: solid 1px white;
    padding: 3%;
    font-size: 1.5vw;
    border-radius: 50%;
}
.navContent.right button.navCrBtn.connect:hover .faIcons{
    color: black;
    border: solid 1px black;
    transition: 400ms ease;
}



.navContent.right button.navCrBtn.login{
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    transition: 400ms ease;
}
.navContent.right button.navCrBtn.login .faIcons{
    padding: 3%;
    font-size: 2vw;
    border-radius: 50%;
    transition: 400ms ease;
}
.navContent.right button.navCrBtn.login:hover .faIcons{
    color: black;
    background: white;
    transition: 400ms ease;
}



.navContent.right button.navCrBtn.logout{
    padding: 0;
    box-shadow: 0 0 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    transition: 400ms ease;
}
.navContent.right button.navCrBtn.logout .faIcons{
    padding: 3%;
    font-size: 2vw;
    transition: 400ms ease;
}



.navContent.right a.navCrBtn.account{
    width: 17%;
    font-size: 0.7vw;
    padding: 2.3px;
    padding-right: 1.5%;
    border: solid 2px white;
    border-radius: 50px;
    transition: 400ms ease;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.navContent.right a.navCrBtn.account .faIcons{
    font-size: 1.5vw;
    border-radius: 50%;
    color: white;
}
.navContent.right a.navCrBtn.account p{
    color: white;
    font-size: 0.6vw;
    font-weight: 400;
    font-family: 'Lexend Peta', sans-serif;
}
.navContent.right a.navCrBtn.account:hover{
    background: white;
    transition: 400ms ease;
    box-shadow: 0 0 10px gray;
}
.navContent.right a.navCrBtn.account:hover .faIcons,
.navContent.right a.navCrBtn.account:hover p{
    color: black;
    transition: 400ms ease;
}


















.footerContainer{
    height: auto;
    width: 100%;
}
section.footerContent{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3% 7%;
    padding-bottom: 5%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background: rgb(10, 10, 10);
    box-shadow: 0 0 20px rgb(50, 50, 50);
}
.fcontent.left{
    height: auto;
    width: 40%;
}
.fcontent.left div{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.fcontent.left div img{
    height: 2vw;
    margin-right: 3%;
}
.fcontent.left div h5{
    font-family: 'Lexend Peta', sans-serif;
}
.fcontent.left div input{
    width: 55%;
    border: solid 2px white;
    outline: none;
    background: none;
    color: white;
    font-size: 0.7vw;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 1%;
}
.fcontent.left div button{
    width: 20%;
    border: solid 2px white;
    background: none;
    outline: none;
    color: white;
    font-size: 0.7vw;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 400ms ease;
    cursor: pointer;
}
.fcontent.left div button:hover{
    background: white;
    color: black;
    transition: 400ms ease;
}
.fcontent.left div a{
    color: white;
    font-size: 1.5vw;
    margin-right: 5%;
    cursor: pointer;
}
.fcontent.left p{
    font-size: 0.7vw;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 5%;
}


.fcontent.right{
    height: auto;
    width: 55%;
    display: flex;
    justify-content: right;
    align-items: start;
}
.fcontent.right div{
    height: auto;
    width: 30%;
    text-align: right;
    margin-left: 2%;
}
.fcontent.right div h6{
    font-size: 0.9vw;
    font-family: 'Lexend Peta', sans-serif;
    margin-bottom: 3%;
}
.fcontent.right div ul{
    list-style: none;
}
.fcontent.right div ul li{
    margin: 2% 0;
}
.fcontent.right div a{
    color: white;
    font-size: 0.8vw;
    text-decoration: none;
    opacity: 50%;
}





section.footerContentBot{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 7%;
    background: rgb(20, 20, 20);
}