h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.profile{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 10vw;
}




.profileReload{
    height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    text-align: center;
}
.profileReload.active{
    top: 0;
    left: 0;
    transition: 600ms ease;
}
.profileReload.disable{
    top: -100%;
    left: 0;
    transition: 800ms ease;
}
.profileReload img{
    height: 10vw;
    animation: elastic-spin 2s infinite ease;
}


/*----- Landing Section -----*/


.profilePageContainer.top{
    height: auto;
    width: 100%;
    padding: 2vw 7%;
    padding-top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    background: 
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/profileBG.png') no-repeat top;
    background-size: cover;
}
.profilePageContent.left{
    height: 100%;
    width: 65%;
    border-radius: 1vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2%;
}
.prfpclHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.prfpchlImg{
    height: 25vw;
    width: 20vw;
    border-radius: 1vw;
    background: white;
    overflow: hidden;
    position: relative;
    background: url('../assets/imgs/dashboadBG05.png') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 10px rgb(65, 65, 65);
}
.prfpchlImg img{
    height: 100%;
}



.prfpchlNFT.switch{
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.prfpchlNFT.switch button{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
}



.prfpchlNFT.rarity{
    height: auto;
    width: 60%;
    padding: 5%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom-right-radius: 1vw;
}
.prfpchlNFT.rarity h6{
    font-weight: 400;
    font-size: 0.7vw;
}
.prfpchlNFT.rarity p{
    font-size: 0.6vw;
    color: gray;
    font-family: 'Lexend Peta', sans-serif;
}





.prfpchlNFT.value{
    height: 5vw;
    width: 100%;
    padding: 3% 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
}
.prfpchlnftv.left{
    height: auto;
    width: 65%;
}
.prfpchlnftv.left p{
    font-size: 0.6vw;
    color: gray;
    font-family: 'Lexend Peta', sans-serif;
}
.prfpchlnftv.left div{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.prfpchlnftv.left div img{
    height: 2vw;
    margin-left: 5%;
}



.prfpchlnftv.right{
    height: auto;
    width: 30%;
}
.prfpchlnftv.right button{
    width: 100%;
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
    background: none;
    color: white;
    outline: none;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    cursor: not-allowed;
    opacity: 50%;
    transition: 400ms ease;
    margin: 2% 0;
}


.prfpchlNFTEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.prfpchlNFTEmpty span p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}











.prfpchead.right{
    height: auto;
    width: 55%;
}
.prfpchrNav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2%;
    background: rgb(20, 20, 20);
    border-radius: 50px;
}
.prfpchrNav button{
    width: 32%;
    padding: 5px;
    border-radius: 50px;
    background: none;
    border: solid 2px transparent;
    color: white;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 30%;
    transition: 400ms ease;
    cursor: pointer;
}
.prfpchrNav button.active{
    opacity: 100%;
    transition: 400ms ease;
    background: white;
    color: black;
}



.prfpchrContents{
    height: 21.5vw;
    width: 100%;
    margin-top: 3%;
    padding: 2%;
    position: relative;
    border-radius: 1vw;
    transition: 400ms ease;
}
.prfpchrContents.notAvailable{
    background: rgb(20, 20, 20);
}


.prfpchrContents.transactToken{
    background: url('../assets/imgs/dashboadBG05.png') no-repeat center;
    background-size: cover;
    border: solid 2px rgb(20, 20, 20);
    overflow: hidden;
    padding: 0;
}
.prfpchrContents button#prfpchrcAssetBtn{
    position: absolute;
    top: 1.5vw;
    right: 1vw;
    font-size: 1.2vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.prfpchrcAssetList{
    height: 0;
    width: 60%;
    position: absolute;
    top: 3.5vw;
    right: 1vw;
    border-radius: 10px;
    background: rgb(20, 20, 20);
    padding: 2%;
    opacity: 0;
    transition: 400ms ease;
}
.prfpchrcAssetList.active{
    height: 13vw;
    opacity: 1;
    transition: 400ms ease;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;
}
.prfpchrcAssetList ul{
    height: auto;
    width: 100%;
    list-style: none;
}
.prfpchrcAssetList ul li{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    border-radius: 5px;
    margin: 1% 0;
    overflow: hidden;
    transition: 400ms ease;
    cursor: pointer;
}
.prfpchrcAssetList ul li:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.prfpchrcAssetList ul li:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.prfpchrcAssetList ul li:hover{
    background: rgba(80, 80, 80);
    transition: 400ms ease;
}
.prfpchrcAssetList ul li img{
    height: 2vw;
}
.prfpchrcAssetList ul li h6{
    font-size: 0.7vw;
    font-weight: 400;
}
.prfpchrcAssetList ul li p{
    font-size: 0.6vw;
}
.prfpchrcAssetList ul li span#prfpchrcaLogo{
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
.prfpchrcAssetList ul li span#prfpchrcaDetails{
    width: 40%;
}
.prfpchrcAssetList ul li span#prfpchrcaValue{
    width: 40%;
    text-align: right;
}


.prfpchrcEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.prfpchrcEmpty span h6{
    font-size: 2vw;
    opacity: 50%;
}
.prfpchrcEmpty span p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}
.prfpchrcProfile{
    height: 3vw;
    width: 100%;
}
.prfpchrcProfile h6{
    font-size: 0.6vw;
    font-weight: 400;
    color: gray;
}
.prfpchrcBalance{
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
    position: relative;
}
.prfpchrcBalance h3{
    font-size: 2.5vw;
}
.prfpchrcBalance p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    color: gray;
}
.prfpchrcbFunctions{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 3%;
}
.prfpchrcbFunctions button{
    width: auto;
    padding: 1.5% 2%;
    margin-right: 1%;
    border: solid 2px white;
    border-radius: 10px;
    outline: none;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
    transition: 400ms ease;
    cursor: not-allowed;
}
.prfpchrcbFunctions button .faIcons{
    width: 1vw;
    margin-right: 10%;
}
.prfpchrcbFunctions button.active:hover{
    background: white;
    color: black;
    opacity: 100%;
    transition: 400ms ease;
}
.prfpchrcStats{
    height: 5vw;
    width: 100%;
    padding: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prfpchrcs{
    height: auto;
    width: 30%;
    position: relative;
}
.prfpchrcs p{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 0.6vw;
    color: gray;
    margin-bottom: 2%;
}
.prfpchrcsf{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
}
.prfpchrcsf div{
    height: auto;
    width: 37%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    margin-right: 10%;
    /* position: relative; */
}
.prfpchrcsf div span{
    height: 1.5vw;
    width: 1.5vw;
    background: white;
    border-radius: 50%;
    margin-left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.prfpchrcsf div span img{
    height: 100%;
}






.profilePageContent.right{
    height: 100%;
    width: 30%;
    border-radius: 1vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2%;
}
.prfpcrHeader{
    height: auto;
    width: 100%;
}
.prfpcrHeader h6{
    font-size: 0.7vw;
    font-weight: 400;
}

.prfpcrNodeAnimation{
    height: 10vw;
    width: 100%;
    margin: 5% 0;
    position: relative;
    border-radius: 0.5vw;
    background: rgb(20, 20, 20);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prfpcrNodeAnimation img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: 
        grayscale(100%)
        blur(2px)
    ;
}
.prfpcrNodeAnimation img.active{
    filter: 
        grayscale(0)
        blur(0)
    ;
}
.prfpcrNodeAnimation span{
    position: relative;
}
.prfpcrNodeAnimation span p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}
.prfpcrUserNodes{
    height: 12vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.prfpcrunEmpty{
    height: 100%;
    width: 100%;
    border-radius: 0.5vw;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.prfpcrunEmpty p{
    opacity: 50%;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}
.prfpcrunNode{
    height: auto;
    width: 100%;
    padding: 2% 3%;
    border-radius: 0.5vw;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prfpcrunNode:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.prfpcrunNode:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.prfpcrunn.left{
    height: auto;
    width: 70%;
}
.prfpcrunn.left p{
    font-size: 0.7vw;
    color: gray;
}


.prfpcrunn.right{
    width: 27%;
}
.prfpcrunn.right button#prfpcrunnrClaim{
    height: auto;
    width: 100%;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.7vw;
    font-family: 'Lexend Peta', sans-serif;
    cursor: not-allowed;
    opacity: 50%;
}






















.profilePageContainer.mid{
    height: auto;
    width: 100%;
    padding: 2vw 7%;
    position: relative;
}
.ppContentMidAirdrop{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.ppcmAirdrop.left{
    height: auto;
    padding: 2%;
    width: 65%;
    background: rgb(20, 20, 20, 0.5);
    border-radius: 1vw;
}
.ppcmalContainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.ppcmalcContent{
    height: 15vw;
    width: 24%;
    border-radius: 1vw;
    overflow: hidden;
    filter: grayscale(1);
    box-shadow: 0 0 5px rgb(50, 50, 50);
    padding: 2%;
    transition: 400ms ease;
    position: relative;
    margin-top: 1.5%;
}
.ppcmalcContent:hover{
    filter: grayscale(0);
    box-shadow: 0 0 10px rgb(65, 65, 65);
    transition: 400ms ease;
}
.ppcmalcContent.active{
    filter: grayscale(0);
    box-shadow: 0 0 10px rgb(65, 65, 65);
}
.ppcmalcContent.create{
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/Airdrop/wallet.png') no-repeat center;
    background-size: cover;
}
.ppcmalcContent.telegram{
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/Airdrop/telegram.png') no-repeat center;
    background-size: cover;
}
.ppcmalcContent.xtwitter{
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/Airdrop/xtwitter.png') no-repeat center;
    background-size: cover;
}
.ppcmalcContent.binding{
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/Airdrop/binding.png') no-repeat center;
    background-size: cover;
}
.ppcmalcContent.testnetXERA{
    background: 
        linear-gradient(transparent, black 80%),
        url('../assets/imgs/Airdrop/TestnetBG.gif') no-repeat center;
    background-size: cover;
}




.ppcmalcContent button#airdropTaskInfo{
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}



.ppcmalccTitle{
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3% 10%;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    border-radius: 50px;
}
.ppcmalccTitle p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}
.ppcmalccTask{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1vw;
}
.ppcmalccTask h6 span{
    font-size: 0.6vw;
    font-weight: 400;
    font-family: 'Lexend Peta', sans-serif;
    color: gray;
}
.ppcmalccTask p{
    width: 70%;
    padding: 3% 10%;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    background: skyblue;
    color: black;
    text-align: center;
    border-radius: 0.5vw;
    margin-top: 5%;
}
.ppcmalccTask p#pendingTask{
    background: orange;
}
.ppcmalccTask p#connectedNetwork{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 5%;
}
.ppcmalccTask p#connectedNetwork .faIcons{
    width: 15%;
}
.ppcmalccTask button{
    width: 70%;
    padding: 3% 10%;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    color: black;
    text-align: center;
    border-radius: 0.5vw;
    margin-top: 5%;
    border: none;
    outline: none;
    cursor: not-allowed;
    transition: 400ms ease;
} 
.ppcmalccTask button.active:hover{
    background: skyblue;
    color: black;
    transition: 400ms ease;
    cursor: pointer;
}
.ppcmalccTask a{
    text-decoration: none;
}

.ppcmalccDetails{
    position: absolute;
    height: 15vw;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 15vw;
    left: 0;
    border-radius: 1vw;
    padding: 1vw;
    transition: 400ms ease;
}
.ppcmalccDetails.active{
    top: 0;
    transition: 400ms ease;
}
.ppcmalccDetails button#ppcmalccdClose{
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}
.ppcmalccDetails h6{
    font-size: 0.9vw;
}
.ppcmalccDetails p#ppcmalccdStatus{
    height: 0.9vw;
    width: 100%;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    margin: 2% 0;
    display: flex;
    justify-content: left;
    align-items: center;
    color: gray;
}
.ppcmalccDetails p#ppcmalccdStatus .faIcons{
    margin-right: 2%;
    color: skyblue;
    font-size: 0.9vw;
}
.ppcmalccDetails p#ppcmalccdStatus .faIcons.pending{
    color: orange;
}
.ppcmalccDetails span{
    color: white;
    font-size: 0.6vw;
    line-height: 0.4vw;
}
.ppcmalccDetails p#ppcmalccdDesription{
    font-size: 0.6vw;
    color: gray;
    margin: 7% 0;
}
.ppcmalccDetails p#ppcmalccdError{
    font-size: 0.6vw;
    color: white;
    margin-top: 5%;
    text-align: center;
}


.ppcmalccInputs{
    height: auto;
    width: 100%;
}
.ppcmalccInputs input{
    height: auto;
    width: 100%;
    border: solid 2px white;
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    background: none;
    outline: none;
    color: white;
    font-size: 0.6vw;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
}
.ppcmalccInputs input[type="number"]::-webkit-outer-spin-button,
.ppcmalccInputs input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ppcmalccInputs input[type="number"] {
    -moz-appearance: textfield;
}
.ppcmalccInputs button{
    height: auto;
    width: 100%;
    padding: 4% 10%;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    color: black;
    text-align: center;
    border-radius: 0.5vw;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 400ms ease;
}
.ppcmalccInputs button:hover{
    background: skyblue;
    transition: 400ms ease;
}
.ppcmalcContent.hidden{
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ppcmalcContent.hidden h6{
    font-size: 2vw;
    opacity: 50%;
}
.ppcmalcContent.hidden p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}




.ppcmAirdrop.right{
    height: 100%;
    width: 30%;
    border-radius: 1vw;
    overflow: hidden;
    background: rgb(20, 20, 20, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2%;
}
.ppcmarTitle{
    height: 1.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ppcmarTitle h5{
    height: 1.5vw;
    font-size: 0.9vw;
}
.ppcmarTitle a{
    color: white;
    text-decoration: none;
    font-size: 0.9vw;
}
.ppcmarContainer{
    height: 31.5vw;
    width: 100%;
    margin-top: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ppcmarcRefLeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    margin: 1% 0;
    border-radius: 0.5vw;
    border: solid 2px transparent;
}
.ppcmarcRefLeaderLoading{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    margin: 1% 0;
    border-radius: 0.5vw;
    border: solid 2px transparent;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #808080;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
}
.ppcmarcRefLeaderLoading span{
    height: 2.5vw;
    width: 2.5vw;
    overflow: hidden;
    border-radius: 50%;
    background: 
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #585858;
    background-size:300% 100%;
    animation: l1 1s infinite linear;
    margin: 0 3%;
}
.ppcmarcRefLeader:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.ppcmarcRefLeader:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.ppcmarcRefLeader span{
    height: 2.5vw;
    width: 2.5vw;
    overflow: hidden;
    border-radius: 50%;
    background: white;
    margin: 0 3%;
}
.ppcmarcRefLeader span img{
    height: 100%;
}
.ppcmarcrlLeader{
    width: 10%;
    text-align: center;
}
.ppcmarcrlLeader h5{
    font-size: 0.9vw;
}
.ppcmarcrlName{
    width: 55%;
}
.ppcmarcrlName p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}
.ppcmarcrlCount{
    width: 15%;
    text-align: center;
}
.ppcmarcrlCount h5{
    font-size: 0.9vw;
}









.ppContentMidTransactions{
    height: auto;
    width: 100%;
    padding: 2%;
    background: rgba(20, 20, 20, 0.5);
    border-radius: 1vw;
}
.ppcmtcTitle{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    margin-top: 2%;
}
.ppcmtcTitle span{
    padding: 0.5%;
}
.ppcmtcTitle span#ppcmtctExternal{
    width: 3%;
}
.ppcmtcTitle span#ppcmtctBlock,
.ppcmtcTitle span#ppcmtctInfo{
    width: 10%;
    text-align: center;
}
.ppcmtcTitle span#ppcmtctAsset{
    width: 15%;
    text-align: center;
}
.ppcmtcTitle span#ppcmtctTxHash,
.ppcmtcTitle span#ppcmtctSender,
.ppcmtcTitle span#ppcmtctReceiver{
    width: 20%;
}
.ppcmtcTitle span h6{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}
.ppcmtcTransaction{
    height: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ppcmtctContents{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 0.2%;
}
.ppcmtctContents:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.ppcmtctContents:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.ppcmtctContents ul{
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ppcmtctContents ul li{
    padding: 0.5%;
}
.ppcmtctContents ul li#ppcmtctcExternal{
    width: 3%;
    text-align: center;
}
.ppcmtctContents ul li#ppcmtctcBlock,
.ppcmtctContents ul li#ppcmtctcInfo{
    width: 10%;
    text-align: center;
}
.ppcmtctContents ul li#ppcmtctcAsset{
    width: 15%;
    text-align: center;
}
.ppcmtctContents ul li#ppcmtctcHash,
.ppcmtctContents ul li#ppcmtctcSender,
.ppcmtctContents ul li#ppcmtctcReceiver{
    width: 20%;
}
.ppcmtctContents ul li p{
    font-size: 0.7vw;
}
.ppcmtctContents ul li a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}



.ppcmtctEmpty{
    height: 100%;
    width: 100%;
    border-radius: 0.5vw;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ppcmtctEmpty h6{
    font-size: 2vw;
    opacity: 50%;
}
.ppcmtctEmpty p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}














@media screen and (max-width: 500px){
    .profileReload img{
        height: 15vw;
        animation: elastic-spin 2s infinite ease;
    }


    .profilePageContainer.top{
        padding: 4vw 7%;
        padding-top: 10vh;
        background: none;
        display: block;
    }
    .profilePageContent.left{
        height: 100%;
        width: 100%;
        border-radius: 2vw;
        padding: 0;
    }
    .prfpclHeader{
        height: auto;
        width: 100%;
        display: block;
    }
    .prfpchead.left{
        display: none;
    }
    .prfpchlImg{
        height: 100%;
        width: 100%;
        border-radius: 2vw;
    }
    .prfpchlNFTEmpty span p{
        font-size: 2.5vw;
    }



    .prfpchead.right{
        height: auto;
        width: 100%;
        margin-top: 0;
    }
    .prfpchrNav button{
        font-size: 2vw;
    }






    .profilePageContent.right{
        display: none;
    }
    .prfpchrContents{
        height: auto;
        border-radius: 2vw;
    }
    .prfpchrContents.notAvailable{
        height: 67vw;
    }
    .prfpchrcEmpty span h6{
        font-size: 10vw;
    }
    .prfpchrcEmpty span p{
        font-size: 2.3vw;
    }
    .prfpchrcProfile{
        height: 10vw;
        width: 100%;
    }
    .prfpchrcProfile h5{
        font-size: 5vw;
    }
    .prfpchrcProfile h6{
        font-size: 2.5vw;
    }
    .prfpchrcBalance{
        padding-bottom: 25vw;
    }
    .prfpchrcBalance p{
        font-size: 2.5vw;
    }
    .prfpchrcBalance h3{
        font-size: 10vw;
    }
    .prfpchrcbFunctions button{
        width: auto;
        padding: 2% 5%;
        margin-right: 2%;
        font-size: 2.3vw;
    }
    .prfpchrcbFunctions button .faIcons{
        display: none;
    }



    .prfpchrContents button#prfpchrcAssetBtn{
        top: 0.5vw;
        font-size: 5vw;
    }
    .prfpchrcAssetList{
        height: 0vw;
        width: 0%;
        top: 8vw;
        right: 0;
        border-radius: 2vw;
    }
    .prfpchrcAssetList.active{
        height: 57.5vw;
        width: 100%;
    }
    .prfpchrcAssetList ul li span#prfpchrcaLogo{
        width: 10vw;
    }
    .prfpchrcAssetList ul li img{
        height: 10vw;
    }
    .prfpchrcAssetList ul li h6{
        font-size: 3vw;
    }
    .prfpchrcAssetList ul li p{
        font-size: 2.5vw;
    }
    .prfpchrcStats{
        height: auto;
    }
    .prfpchrcs p{
        font-size: 2.5vw;
    }
    .prfpchrcs h5{
        font-size: 5vw;
    }
    .prfpchrcsf div span{
        height: 5vw;
        width: 5vw;
        background: white;
        border-radius: 50%;
        margin-left: -35%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
    }








    .ppContentMidAirdrop{
        display: block;
    }
    .ppcmAirdrop.left{
        width: 100%;
        padding: 0;
        background: none;
    }
    .ppcmAirdrop.right{
        display: none;
    }

    .ppcmAirdrop.left h5{
        font-size: 3vw;
    }
    .ppcmalcContent{
        height: 50vw;
        width: 48%;
        border-radius: 2vw;
        margin-top: 5%;
    }
    .ppcmalccDetails{
        height: 50vw;
        top: 50vw;
        border-radius: 2vw;
        padding: 2vw;
    }
    .ppcmalccTitle{
        top: 1vw;
        left: 1vw;
    }
    .ppcmalccTitle p{
        font-size: 2.3vw;
    }
    .ppcmalcContent button#airdropTaskInfo{
        top: 1vw;
        right: 1vw;
        font-size: 3vw;
    }
    .ppcmalccTask{
        padding: 2vw;
    }
    .ppcmalccTask h6 span{
        font-size: 2.3vw;
    }
    .ppcmalccTask h6{
        font-size: 3.5vw;
    }
    .ppcmalccTask p{
        width: 100%;
        font-size: 3vw;
        border-radius: 1vw;
    }
    .ppcmalccTask button{
        width: 100%;
        font-size: 3vw;
        border-radius: 1vw;
    } 
    .ppcmalccDetails h6{
        font-size: 3vw;
    }
    .ppcmalccDetails p#ppcmalccdStatus{
        height: auto;
        font-size: 2.3vw;
        margin: 2% 0;
    }
    .ppcmalccDetails p#ppcmalccdStatus .faIcons{
        margin-right: 3%;
        font-size: 2.3vw;
    }
    .ppcmalccDetails span{
        font-size: 2.3vw;
        line-height: 2.5vw;
    }
    .ppcmalccDetails p#ppcmalccdDesription{
        font-size: 2.3vw;
    }
    .ppcmalccDetails p#ppcmalccdError{
        font-size: 2.3vw;
    }




    .profilePageContainer.mid{
        padding: 5vw 7%;
    }
    .ppContentMidTransactions h5{
        font-size: 3vw;
    }
    .ppcmTransactionsContainer{
        overflow-x: scroll;
    }
    .ppcmtcTitle{
        width: 250vw;
        margin-top: 5%;
    }
    .ppcmtcTitle span h6{
        font-size: 2.5vw;
    }
    .ppcmtcTransaction{
        height: 50vw;
        width: 250vw;
    }
    .ppcmtctContents ul li p{
        font-size: 2.3vw;
    }






















}






