h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.profile{
    height: auto;
    width: 100%;
    background: black;
}

/*----- Landing Section -----*/


.profilePageContainer{
    height: auto;
    width: 100%;
    padding: 4vw 7%;
    padding-top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: 
        linear-gradient(black 5%, transparent),
        linear-gradient(transparent, black 95%),
        url('../assets/imgs/dashboadBG04.png') no-repeat center;
    background-size: cover;
}
.profilePageContent.left{
    height: 100%;
    width: 65%;
    border-radius: 1vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2%;
}
.prfpclHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.prfpchlImg{
    height: 25vw;
    width: 20vw;
    border-radius: 1vw;
    background: white;
    overflow: hidden;
    position: relative;
    background: url('../assets/imgs/dashboadBG05.png') no-repeat center;
    background-size: cover;
    box-shadow: 0 0 10px rgb(65, 65, 65);
}
.prfpchlImg img{
    height: 100%;
}



.prfpchlNFT.switch{
    position: absolute;
    top: 1vw;
    right: 1vw;
}
.prfpchlNFT.switch button{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5vw;
}



.prfpchlNFT.rarity{
    height: auto;
    width: 60%;
    padding: 5%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom-right-radius: 1vw;
}
.prfpchlNFT.rarity h6{
    font-weight: 400;
    font-size: 0.7vw;
}
.prfpchlNFT.rarity p{
    font-size: 0.7vw;
    color: gray;
}





.prfpchlNFT.value{
    height: 5vw;
    width: 100%;
    padding: 3% 5%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
}
.prfpchlnftv.left{
    height: auto;
    width: 65%;
}
.prfpchlnftv.left p{
    font-size: 0.6vw;
    color: gray;
    font-family: 'Lexend Peta', sans-serif;
}
.prfpchlnftv.right{
    height: auto;
    width: 30%;
}
.prfpchlnftv.right button{
    width: 100%;
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
    background: none;
    color: white;
    outline: none;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    cursor: not-allowed;
    opacity: 50%;
    transition: 400ms ease;
    margin: 2% 0;
}



.prfpchead.right{
    height: auto;
    width: 55%;
}
.prfpchrNav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2%;
    background: rgb(20, 20, 20);
    border-radius: 50px;
}
.prfpchrNav button{
    width: 32%;
    padding: 5px;
    border-radius: 50px;
    background: none;
    border: solid 2px transparent;
    color: white;
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 30%;
    transition: 400ms ease;
    cursor: not-allowed;
}
.prfpchrNav button.active{
    opacity: 100%;
    transition: 400ms ease;
    background: white;
    color: black;
    cursor: pointer;
}



.prfpchrContents{
    height: auto;
    width: 100%;
    margin-top: 3%;
    padding: 2%;
}
.prfpchrContents h6{
    font-size: 0.6vw;
    font-weight: 400;
}
.prfpchrcBalance{
    height: auto;
    width: 100%;
    margin: 5% 0;
}
.prfpchrcBalance p{
    font-size: 0.7vw;
    font-family: 'Lexend Peta', sans-serif;
}










.profilePageContent.right{
    height: 100%;
    width: 30%;
    border-radius: 1vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 2%;
}
