h1, h2, h3, h4, h5, h6, p{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
}
p{
    font-size: 0.9vw;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 5vw;
}
h3{
    font-size: 4vw;
}
h4{
    font-size: 2vw;
}
h5{
    font-size: 1.5vw;
}
h6{
    font-size: 1vw;
}


.mainContainer.faucet{
    height: auto;
    width: 100%;
    background: black;
    padding-bottom: 10vw;
}




section.faucetPageContainer.top{
    height: auto;
    width: 100%;
    position: relative;
}
.faucetPageContent.top{
    height: auto;
    width: 100%;
    padding: 2vw 7%;
    padding-top: 12vh;
    background: 
        linear-gradient(transparent, black 100%),
        url('../assets/imgs/profileBG.png') no-repeat top;
    background-size: cover;
}

.fctpcHeader{
    height: auto;
    width: 100%;
}
.fctpcHeader h4{
    font-family: 'Lexend Peta', sans-serif;
}
.fctpcHeader h6{
    font-size: 0.7vw;
    font-weight: 400;
}
.fctpcTop{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.fctpct{
    height: auto;
    padding: 2%;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1vw;
}
.fctpct.dashboard{
    height: 32vw;
    width: 65%;
}
.fctpctTitle{
    height: auto;
    width: 100%;
    margin: 1% 0;
}
.fctpctTitle ul{
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fctpctTitle ul li{
    padding: 1%;
}
.fctpctTitle ul li#fctpcttBlock,
.fctpctTitle ul li#fctpcttAmount{
    width: 15%;
    text-align: center;
}
.fctpctTitle ul li#fctpcttHash,
.fctpctTitle ul li#fctpcttReceiver{
    width: 33%;
    text-align: left;
}
.fctpctTitle ul li h6 {
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
}
.fctpctContainer{
    height: 23.5vw;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.fctpctcEmpty{
    height: 100%;
    width: 100%;
    border-radius: 0.5vw;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fctpctcEmpty p{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
}
.fctpctcTxDetails{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.fctpctcTxDetails:nth-child(odd) {
    background: rgba(80, 80, 80, 0.5);
}
.fctpctcTxDetails:nth-child(even) {
    background: rgba(80, 80, 80, 0.3);
}
.fctpctcTxDetails ul{
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fctpctcTxDetails ul li{
    padding: 1%;
}
.fctpctcTxDetails ul li#fctpctcTxBlock,
.fctpctcTxDetails ul li#fctpctcTxAmount{
    width: 15%;
    text-align: center;
}
.fctpctcTxDetails ul li#fctpctcTxHash,
.fctpctcTxDetails ul li#fctpctcTxReceiver{
    width: 33%;
    text-align: left;
}
.fctpctcTxDetails p{
    font-size: 0.6vw;
    opacity: 50%;
}







.fctpct.mint{
    height: 32vw;
    width: 30%;
    padding: 2% 4%;
    position: relative;
    overflow: hidden;
    background: url('../assets/imgs/dashboadBG05.png') no-repeat center;
    background-size: cover;
}
.fctpct.mint img#fctpctTokenLogo{
    height: 15vw;
    display: flex;
    margin: 7% auto;
}
.fctpct.mint p#fctpctNote{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
    text-align: center;
}
.fctpct.mint p#fctpctResponse{
    font-size: 0.6vw;
    font-family: 'Lexend Peta', sans-serif;
    opacity: 50%;
    text-align: center;
    margin-top: 5%;
}

.fctpctmTXERA{
    height: auto;
    width: 100%;
}
.fctpctmTXERA button{
    width: 100%;
    padding: 10px 5%;
    text-decoration: none;
    background: none;
    color: white;
    font-size: 0.7vw;
    border: solid 2px white;
    border-radius: 50px;
    font-family: 'Lexend Peta', sans-serif;
    transition: 400ms ease;
    opacity: 50%;
    transition: 400ms ease;
    margin-top: 10%;
    cursor: pointer;
}
.fctpctmTXERA button:hover{
    opacity: 100%;
    background: white;
    color: black;
    transition: 400ms ease;
}


.fctpct.mint button#fctpctTokenInfo{
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}
.fctpctTokenDetails{
    height: 32vw;
    width: 100%;
    position: absolute;
    top: -32vw;
    left: 0;
    background: rgba(10, 10, 10, 0.9);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1vw;
    transition: 400ms ease;
    padding: 10%;
}
.fctpctTokenDetails.active{
    top: 0;
}
.fctpcttdHeader{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.fctpcttdHeader img{
    height: 3vw;
    margin-right: 5%;
}
.fctpcttdHeader h5{
    font-size: 1.2vw;
}
.fctpcttdHeader h6{
    font-size: 0.8vw;
    color: gray;
}

.fctpcttdInfo{
    height: auto;
    width: 100%;
    margin-top: 10%;
}
.fctpcttdInfo h6{
    margin: 1% 0;
}
.fctpcttdi{
    margin-top: 3%;
}
.fctpcttdi p{
    font-size: 0.7vw;
    opacity: 50%;
    margin: 1% 0;
}




















